# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

#Cordova
platforms/
plugins/

#APK keystore
my-release-key.keystore
*.apk

*~
*.sw[mnpcod]
*.log
*.tmp
*.tmp.*
log.txt
*.sublime-project
*.sublime-workspace
.vscode/
npm-debug.log*

*.iml
.idea/
.ionic/
.sourcemaps/
.sass-cache/
.tmp/
.versions/
coverage/
/www/
node_modules/
tmp/
temp/
$RECYCLE.BIN/

hosting.d3d3.cache

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
